*{
    font-family: "Poppins", sans-serif;
}
.banner{
    background-image: url('../Assets/banner-image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}