*{
    font-family: "Poppins", sans-serif;
}
.banner{
    background-image: url('../Assets/banner-image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.features-btn{
    position: relative;
    margin-top: -20px;
    margin-left: 10px;
}
.footer{
    background-color: rgb(5, 33, 56);
}